/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.Login {
  width: 100%;
  height: 58px;
  padding-top: 40px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: center;
  color: #5300ca;
}

.login-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 400px;
}

input {
  width: 450px;
  height: 56px;
  border-radius: 4px;
  background-color: rgba(33, 33, 33, 0.05) !important;
  margin-left: 300px !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.19 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: rgba(33, 33, 33, 0.5) !important;
}

input:-internal-autofill-selected {
  width: 450px;
  height: 56px;
  border-radius: 4px;
  background-color: rgba(33, 33, 33, 0.05) !important;
  margin-left: 300px !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.19 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: rgba(33, 33, 33, 0.5) !important;
}

input[_ngcontent-phm-c1]:-internal-autofill-selected {
  width: 450px;
  height: 56px;
  border-radius: 4px;
  background-color: rgba(33, 33, 33, 0.05);
}

.login input[type="name"]:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.LoginBtn {
  width: 91px !important;
  height: 36px !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.25 !important;
  letter-spacing: normal !important;
  margin-left: 662px !important;
  text-align: center !important;
  background-color: rgba(83, 0, 202, 0.05);
  color: rgba(83, 0, 202, 0.75);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer !important;
}

.login input[type="submit"] {
  width: 48px !important;
  height: 19px !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.25 !important;
  letter-spacing: normal !important;
  margin-left: 300px !important;
  text-align: center !important;
  color: rgba(83, 0, 202, 0.75) !important;
  cursor: pointer !important;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.has-error input[type="name"],
.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}
