<div id="wrap">
  <div class="Background">
    <div class="Path-1">
        <div class="The-Office-League">The Office League</div>
        <a routerLink="/" routerLinkActive="active" class="About">About </a>
        <a routerLink="/login" routerLinkActive="active" class="Support">Log-In </a>
        <a routerLink="/player" routerLinkActive="/player" class="Support">Create Profile </a>
        <div class="Rectangle-377"><a routerLink="/register" routerLinkActive="active" class="Sign-Up">Sign-Up </a></div>
    </div>

    <div class="Content-background">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
